.Form {
    border: none;
    border-bottom: 2px green solid;
  }
  
  .Button {
    border: none;
    background-color: rgb(245, 96, 41);
    color: white;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: rgb(187, 51, 1);
    color: white;
  }